<html>
    <head>
        <title>Next Bus Express - Home</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet"> 
    </head>
<body>
    <header>
        <nav class="main-options">
            <a href="/"><img src="MetroBusWithBackground.png"/></a>
            <h1>Next Bus Express</h1>
        </nav>
        <div class="second-options">
            <a href="/"><button class="refresh"><img src="refresh.png" alt="refresh-icon"/></button></a>
            <button class="locate"><img src="locate-crosshair.png" alt="locate-icon"/></button>
        </div>
        <form class="search-form" action="/usersearch" method="POST">
            <input type="text" class="search-input" name="searchTerm" placeholder="Enter street name or stop id">
            <input type="submit" class="submit-user search" value="Search">
        </form>
    </header>
    
    <div class="card-list">
        <% for(let p=0 ; p<busData.length ; p++) { %>
        <div class="card">
            <div class="top">
                <h2><%= busData[p].StopName %></h2>
                <div class="card-options">
                    <button class="remove"><img src="trash.png" alt="remove-icon"/></button>
                </div>
            </div>
            <ul class="predictions">
                <% for(let i=0 ; i<busData[p].Predictions.length; i++) { %>
                    <li>
                        <h3>Route <%= busData[p].Predictions[i].RouteID %></h3>
                        <h3><%= busData[p].Predictions[i].DirectionText %></h3>
                        <h3><%= busData[p].Predictions[i].Minutes %> Minutes</h3>
                    </li>
                <% } %>
            </ul>
        </div>
        <% } %>
    </div>

    <div id="demo"></div>
    <form id="coordinates" action="/search" method="POST">
        <input id="latitude" type="number" step="any" name="lat" />
        <input id="longitude" type="number" step="any" name="lon" />
        <input type="submit" />
    </form>

    <form id="stop-data" action="/" method="POST">
        <input id="array" type="string" name="userStopArray" />
        <input type="submit" />
    </form>
    <p>Created by Ezequiel Espinoza Diaz. Visit my <a href="https://github.com/ezeaspie">GitHub</a> or view this <a href="https://github.com/ezeaspie/metro-bus-app">project's source code</a>.</p>

    <script src="/localForage-1.7.1/dist/localforage.js"></script>
    <script type="text/javascript" src="/mainScript.js"></script>
</body>
</html>