<html>

<head>
    <title>Next Bus Express - Search</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav class="main-options">
            <a href="/"><img src="MetroBusWithBackground.png"/></a>
            <h1>Next Bus Express</h1>
        </nav>
        <div class="second-options">
            <a href="/"><button class="refresh"><img src="refresh.png" alt="refresh-icon"/></button></a>
            <button class="locate"><img src="locate-crosshair.png" alt="locate-icon"/></button>
        </div>
        <form class="search-form" action="/usersearch" method="POST">
            <input type="text" class="search-input" name="searchTerm" placeholder="Enter street name or stop id">
            <input type="submit" class="submit-user search" value="Search">
        </form>
    </header>
    
    <div class="error">
        <h2>Couldn't find any stops with those search terms. Make sure you entered the correct value of the street name or stop ID and try again.</h2>
        <h2>Or click <a href="/">here</a> to return to your home page</h2>
        <img src="MetroBusOnly.png" alt="Flat Design Metro Bus"/>
    </div>
        
    <div id="demo"></div>
    <form id="coordinates" action="/search" method="POST">
        <input id="latitude" type="number" step="any" name="lat" />
        <input id="longitude" type="number" step="any" name="lon" />
        <input type="submit" />
    </form>
    <p>Created by Ezequiel Espinoza Diaz. Visit my <a href="https://github.com/ezeaspie">GitHub</a> or view this <a href="https://github.com/ezeaspie/metro-bus-app">project's source code</a>.</p>
    <script src="/localForage-1.7.1/dist/localforage.js"></script>
    <script type="text/javascript" src="/mainScript.js"></script>
</body>

</html>